.contenedorayuda {
    display: flex;
    flex-direction: column;
    .title__ayuda h6 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        padding: 20px;
        text-shadow: none;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
}

.accordion{
    margin-left: 100px;
    margin-right: 100px;
    .accordion-body{
        background-color:#faf9f4;
    }
}
