html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

/* NAVBAR */

.navbar_panerai { 
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    align-items: center;
    
    
}

.navbar_panerai > .fa-bars {
    display: none;
}

.navbar_panerai> ul {
    list-style: none;
    justify-content: end;
    margin-right: 25px;
    margin-top: 5px;
}

.navbar_panerai> ul> li{
    border-right: 50px;
    display: inline-block;
}

.navbar_panerai > ul > li:hover ul{
    max-height: 300px;
    transition: 0.5s;
}


.navbar_panerai ul li a{
    text-decoration: none;
    color: #fbfae6;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_panerai > ul > li > ul{
    max-height: 0;
    overflow: hidden;
    position: absolute ;
    background-color: black;
    list-style: none;
    left: 840px;
}

.logo_panerai{
    width: 180px;
    height: 40px;
    padding: 10px 50px 10px 0;
}

@media(max-width:576px){
    .navbar_panerai{
        justify-content: space-between;
        width: 100%;
    }
    
    .navbar_panerai .fa-bars {
        display: block;
        color: white;
        font-size: 30px;
        padding: 20px;
    }
    .navbar_panerai > .fa-bars:hover + ul{
        left: 0;
    }

    .navbar_panerai > ul{
        justify-content: start;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        padding: 20px 0px 20px;
        align-items: center;
        left: -300px;
        transition: 0.3s;
        background-color: black;
        top: 50px;
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        z-index: 1;
    }
    .carousel .slides {
        z-index: 2;
    }
    .carousel-control-prev-icon{
        z-index: 2;
    }
    .navbar_panerai > ul > li {
        padding: 10px 0px 10px;
    }

    .navbar_panerai > ul:hover {
        left:0;
    }

    .logo_panerai {
        position: static;
        width: 130px;
        height: 35px;
    }


    .navbar_panerai {
        height: 70px;
        width: 100%;
        z-index: 1;
    }
    
}

/* HEADER*/



.btn_header {
    padding: 3px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    background-color: transparent;
    font-size: 16px;
    margin: 10px;
}

h5 {
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

/* comprar por colecciones*/

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container_p{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 10px;
    background-color: #000;
}

.container_p .card_p{
    width: 285px;
    height: 400px;
    border-radius: 8px;
    text-align: center;
    transition: all 0.25s;
    margin:30px auto;
    color: #000;
    border-color: black ;
    box-shadow: 0 10px 120px rgb(255 255 255 / 20%);
    border-top-color: black;

}

.container_p .card_p:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container_p .card_p img{
    margin-top: 20px;
    width: 100%;
    height: 220px;
}

.container_p .card_p h4{
    font-weight: 600;
    padding: 10px;
    font-size: 1.5em;
    color: #fbfae6;
}


.container_p .card_p p{
    padding: 0 1rem;
    font-size: 1px;
    font-weight: 300;
    color: #fbfae6;
    
}

.container_p .card_p a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    padding: 10px;
}

@media(max-width:865px) {
    .container_p {
        display: flex;
        flex-direction: column;
    }

@media(max-width:399px) {
    .container_p .card_p{
        width: 165px;
        height: 225px;
        border-radius: 8px;
        text-align: center;
        transition: all 0.25s;
        margin:10px auto;
        color: #000;
        border-color: black ;
        box-shadow: 0 10px 120px rgb(255 255 255 / 20%);
        border-top-color: black;
    
    }
    .container_p .card_p img{
        margin-top: 20px;
        width: 100%;
        height: 100px;
    }
    
    .container_p .card_p h4{
        font-weight: 400;
        padding: 10px;
        font-size: 12px;
        color: #fbfae6;
        margin: 0px;
    }
    
    .container_p .card_p a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
        margin-bottom: 20px;
        font-size: 12px;
    }
}



}

.titulo2{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    padding:30px 10px;
    background-color: #000;
    margin: -1px auto;
    text-align: center;

}

.titulo2 h3{
    text-transform: uppercase;
    color: #fbfae6;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 3px black;

}

@media(max-width:500px){
    .titulo2 h3{
        font-size: 25px;
        padding: 10px;
    }
}

.contenedor2-foto-info{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: -2px;
    
    
}
.contenedor2-foto-info > .textofimg {
    position: absolute;
    color: #fbfae6;
    top: 35%;
    left: 10%;
    text-align: start;
}


.contenedor2-foto-info > img {
    width: 100%;
    background-size: cover;

}

.textofimg {
        height: 200px;
        width: 400px;
        position: absolute;
}

.textofimg > h4 {
    font-weight: bold;
    font-size: 45px;
}

.textofimg > p {
    font-size: 20px;
    
}

.textofimg > .btn {
    padding: 3px;
    width: 200px;
    height: 60px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    background-color: transparent;
    font-size: 20px;
    margin: 0px 10%;
}

.textofimg > .btn:hover {
    text-shadow: 0px 0px 5px #fbfae6;
}

/* MQ SOLO PARA LAS IMAGENES CON TEXTO ARRIBA*/

@media(max-width:745px){
    .textofimg > h4 {
        font-weight: bold;
        font-size: 25px;
        border-width: 1px solid;
    }
    .textofimg > .btn {
        padding: 3px;
        width: 110px;
        height: 35px;
        font-size: 13px;
    }

    .textofimg > p {
        font-size: 12px;
        
    }
}

.bestsellers {
    justify-content: center;
    background-color:black ;
    color: black;
    position: relative;
    
    

}
.boxtobestsellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bestseller{    
    display: grid;
    padding: 10px;
}


.bestsellers h4 {
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 40px;
    color: #fbfae6;
    font-weight: bold;
    font-size: 40px;
}

.bestseller img {
    width: 250px;
    height: 350px;
    padding: 20px;
}

.bestsellers .btn{ 
    color: #fbfae6;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 3px #fbfae6;
}

.bestsellers .btn:hover {
    text-shadow: 0px 0px 20px #fbfae6;
    transform: translateY(5px);
    color: #fbfae6;
}

@media(max-width:1100px){
    .bestseller img {
        width: 145px;
        height: 200px;
        padding: 10px;
    }
}
@media(max-width:680px) {
    .bestseller img {
        width: 125px;
        height: 180px;
        padding: 10px;
    }
    .bestsellers h4 {
    font-size: 30px;
    padding: 15px;
    }
}

.pie-pagina {
    width: 100%;
    background-color: black;
    color: aliceblue;
    margin-top: -1px;
    padding-top: 30px;

}

.pie-pagina .grupo-footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-footer .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-footer .box figure img {
    width: 250px;
}
.pie-pagina .grupo-footer .box h2{
    color: #F5F2CC;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-footer .box p {
    color: #F5F2CC;
    margin-bottom: 10px;
}

.pie-pagina > .grupo-footer > .red-social > a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #F5F2CC;
    margin-right: 10px;
    text-align: center;
}

.pie-pagina .grupo2 {
    padding: 15px 10px;
    text-align: center;
    color: #F5F2CC;
    
}

.a-redes-stlye {
    text-decoration: none;
    color: #F5F2CC;
    padding: 10px;
}

@media(max-width:660px) {
    .pie-pagina .grupo-footer{
        display: block;
    }
    .pie-pagina .grupo-footer .box {
        padding: 20px 50px 20px;
    }
}

/*.grilla {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "nav nav nav nav"
                        "header header header header"
                        "main main main main"
                        "footer footer footer footer";
}

nav {
    grid-area: nav;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer {
    grid-area: footer;
}*/